<?xml version="1.0" ?>
<robot name="boxbot" xmlns:xacro="http://www.ros.org/wiki/xacro">
  <!-- Link1 -->
  <gazebo reference="base_link">
    <material>Gazebo/Orange</material>
  </gazebo>
  <gazebo>
    <plugin name="rangebearing_plugin" filename="liabgazebo_rangebearing_plugin.so"/>
  </gazebo>
  
  <!-- Base Link -->
  <link name="base_link">
    <collision>
      <origin rpy="0 0 0" xyz="0 0 1.0"/>
      <geometry>
        <box size="0.1 0.1 2"/>
      </geometry>
    </collision>
    <visual>
      <origin rpy="0 0 0" xyz="0 0 1.0"/>
      <geometry>
        <box size="0.1 0.1 2"/>
      </geometry>
      <material name="orange"/>
    </visual>
    <inertial>
      <origin rpy="0 0 0" xyz="0 0 1.0"/>
      <mass value="1"/>
      <inertia ixx="0.334166666667" ixy="0.0" ixz="0.0" iyy="0.334166666667" iyz="0.0" izz="0.00166666666667"/>
    </inertial>
  </link>

 
</robot>
